<div class="main-container" (swipeleft)="onSwipeLeft($event)">
    <div class="filter-cell">
        <div *ngIf="router.url === '/make-a-trinkspruch'">
            <button mat-stroked-button (click)="openFilterDialog()" onclick="this.blur()">
                <mat-icon>filter_list</mat-icon>
                <span class="icon-button-text">FILTER</span>
            </button>
        </div>
    </div>
    <div class="toast-cell">
        <div class="toast-text" *ngIf="(toast$|async) let toast">
            {{ toast.toastText }}
        </div>
    </div>

    <div class="next-toast-cell">
        <button mat-icon-button class="large" (click)="getNewToast()">
            <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
    </div>

</div>
